.background{
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 56, 56, 0.9);
  z-index: 2;

  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main{
  width: 30vw;
  height: 50vh;
  box-shadow: 0px 0px 20px 3px #ecac4b;
  
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1vw;
  /* Carbon background */
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  /* noselect */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.header{
  width: 100%;
  height: 10%;
  background-image: linear-gradient(rgb(207, 120, 6), #f7c260);

  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;

  display: flex;
  align-items: center;
}
.exit{
  color: whitesmoke;
  position: absolute;
  right: 5%;

  width: 1vw;
  height: 1vw;
  background-image: url("close.png");
  background-size: cover;
  filter: invert(0);
  
  /* noselect */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.exit:hover{
  box-shadow: 0px 0px 5px #020101;
}
.exit:active{
  box-shadow: 0px 0px 15px #363636;
}



.passwordsPane{  
  width:100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper{
  margin-top: 5%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.label{
  width: 40%;
  color: whitesmoke;
  font-size: 1.2vw;
  font-weight: 200;
  font-family: sans-serif;
}
.input{
  width: 50%;
  text-align: center;

  border-radius: 0.5vw;
  text-decoration: none;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(243, 129, 35);
}
.input:focus{
  border-color: rgb(5, 57, 168);
  outline: none;
  box-shadow: 0px 0px 10px 1px #0268ee;
}
.button{
  width: auto;
  height: auto;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10%;
  background-image: linear-gradient(to bottom,#f7741d, #c95c13);

  border-color: rgb(146, 55, 3);
  border-radius: 0.5vw;
  border-style: solid;
  border-width: 2px;

  text-decoration: none;
  outline: 0px none;
  
  font-size: 1vw;
  color: whitesmoke;
  font-weight: 500;
}
.button:hover{
  box-shadow: 0px 0px 10px 1px #0a35c2;
}
.button:active{
  box-shadow: 0px 0px 10px 3px #ffffff;
}

.positiveInfo{
  width: 50%;
  height: 20%;
  background-image: linear-gradient(to bottom, #c99507, #f3c546);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1vw;
  box-shadow: 0px 0px 10px 1px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2vw;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(20, 7, 56);
}
.negativeInfo{
  color: rgb(124, 5, 5);
  font-size: 1.2vw;
  font-family: sans-serif;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7%;
  width: 100%;
  text-align: center;
}